@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .container {
        max-width: 768px;
    }

    /**===== Header =====*/

    .header {
        height: 72px;
    }

    .mobile-menu-open {
        display: none;
        align-items: center;
        justify-content: space-between;
    }

    .header-navigation {
        display: flex;
    }

    .header-menu,
    .address-section {
        display: flex;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .header-menu-link {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        padding: 24px 0;

        position: relative;
        color: #2E2F42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        color: #404bbf;
    }

    .current {
        color: #404BBF;
    }

    .current::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        width: 100%;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .address-items {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        gap: 12px;
    }

    .address-section {
        display: flex;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5em;
    }

    .address-link {
        color: #434455;
    }

    /*? ============= Superman Section ======== */

    .superman-section {
        padding: 112px 0;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), 
        url(../images/hero-bg-tab.jpg);
    }

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2ddpx) {
            .superman-section {
                background-image: linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                      url(../images/hero-bg-tab-2.jpg);
            }
        }

    .superman-text {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .main-principles {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 768px;
    }

    .main-principles_item {
        width: calc((100% - 26px) / 2);
    }

    /*? ====== Main Principles Section ====== */

    .main-principles-item-header {
        text-align: start;
    }


    /*? ========= Team Section ========= */

    .team {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
    }

    /*? ========== Portfolio Section ========== */

    .portfolio {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .item-img-block,
    .portfolio-item-img {
        width: 356px;
        height: 300px;
    }

    .portfolio-item-container {
        max-width: 356px;
    }

    /*? =============== FOOTER =============== */

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 584px;
    }

    .footer-logo-block {
        width: 264px;
    }

    .footer-logo {
        align-self: flex-start;
    }

    .footer-text {
        width: 264px;
    }

    .social-block {
        margin-left: 24px;
    }

    .subscribe-header-text {
        text-align: start;
    }

    .subscribe-form {
        flex-direction: row;
        justify-content: flex-start;
    }

    .form-email-input {
        width: 264px;
    }

    /*! ================= Modal form ================= */


    .modal-window {
        width: 408px;
        top: 96px;
        transform: translate(-50%) scale(1);
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    /**===== Header =====*/

    .header-container {
        max-width: 1158px;
    }


    .header {
        height: 72px;
    }

    .header-navigation {
        display: flex;
    }


    .header-logo {
        margin-right: 76px;
    }

    .current::after {
        bottom: -3px;
    }

    .address-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
        gap: 40px;
    }

    .address-section {
        font-size: 16px;
    }

    .address-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }

    /** ============= Superman Section ======== */

    .superman-section {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), 
        url(../images/hero-bg.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2ddpx) {
        .superman-section {
            background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                  url(../images/hero-bg-2.jpg);
        }
    }

    .superman-btn {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .superman-btn:hover,
    .superman-btn:focus {
        background-color: #404BBF;
    }

    /*? ====== Main Principles Section ====== */

    .main-principles-section {
        padding: 120px 0;
    }

    .main-principles {
        max-width: 1128px;
        gap: 24px;
    }

    .main-principles_item {
        width: calc((100% - 72px) / 4);
        margin-bottom: 0;
    }

    .principles-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;

    }

    .main-principles-item-header {
        font-size: 20px;
        font-weight: 500;
    }

    .main-principles-item-text {
        font-weight: 400;
    }

    /*? ========= Team Section ========= */

    .team-section {
        padding: 120px 0;
    }

    .team {
        max-width: 1128px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    .social-item-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-item-link:hover,
    .social-item-link:focus {
        background-color: #404bbf;
    }

    /*? ========== Portfolio Section ========== */

    .portfolio {
        cursor: pointer;

    }

    .portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-item-container {
        max-width: 360px;
        margin: 0 auto;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        cursor: pointer;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .item-img-block {
        width: 360px;
        height: 300px;

    }

    .portfolio-item-img {
        width: 360px;
    }

    /*? =============== FOOTER =============== */

    .footer-container {
        align-items: baseline;
    }

    .social-block {
        margin-right: 80px;
        margin-left: 0;
        align-items: baseline;
    }

    .footer-logo-block {
        display: block;
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer-logo {
        display: inline-block;
    }

    .subscribe-block {
        max-width: 453px;
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
    }

    .form-email-input {
        width: 264px;
        height: 40px;
    }

    /*! ================= Modal form ================= */

    .modal-window {
        top: 80px;
        transform: translate(-50%) scale(1);
    }

    .modal-form-group.modal-form-input:focus+.form-input-img {
        fill: #4D5AE5;
    }

    .modal-form-input:focus+.form-input-img {
        fill: #4D5AE5;
    }

    .modal-form-textarea {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-form-textarea:focus {
        border-color: #4D5AE5;
    }

    .modal-form-submit {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .form-input-checkbox:checked {
        background-color: #404BBF;
    }

    input[type="checkbox"]:checked+label span {
        background-color: #404BBF;
        border: none;
        fill: #F4F4FD;
    }

}