*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
}

body {
    background-color: #ffffff;
    color: #434455;
    font-family: 'Roboto', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 288px;
}

.wrapper,
.main {
    display: flex;
    flex-direction: column;
    max-width: 288px;
    width: 100%;
    margin: 0 auto;
}


/**===== Header =====*/

.header-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 288px;
    align-self: center;
    justify-content: space-between;
}

.header {
    display: flex;
    height: 56px;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

    /** ============= Superman Section ======== */

    .superman-section {
        max-width: 1440px;
        padding: 188px 0;
        margin: 0 auto;
        background-color: #2E2F42;
        text-align: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .superman-text {
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07em;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        max-width: 496px;
        margin: 0 auto 48px;
    }

    .superman-btn {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        border-radius: 4px;
        background-color: #4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 16px 32px;
        min-width: 169px;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .superman-btn:hover,
    .superman-btn:focus {
        background-color: #404BBF;
    }